<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heaing">
                        <h1>Filters</h1>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Title" name="title">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" placeholder="Price From" name="price_from" value="1" min="1">
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" placeholder="Price To" name="price_to" value="999999999" max="999999999">
                            </div>
                            <div class="col-md-4">
                                <button v-on:click="setParams($event)" class="btn btn-primary"><i class="fa fa-spinner fa-spin"></i>Search</button>
                            </div>
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="product in products">
                                    <th>{{ product.id }}</th>
                                    <th>{{ product.title }}</th>
                                    <th>{{ product.price }}</th>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li v-on:click="paginate(1)" v-if="page > 2" ><a>1</a></li>
                            <li v-if="page > 3">
                                <a>...</a>
                            </li>
                            <li v-on:click="paginate(page - 1)" v-if="0 < page - 1" >
                                <a>{{ page - 1 }}</a>
                            </li>
                            <li v-on:click="paginate(page)"  class="active">
                                <a >{{ page }}</a>
                            </li>
                            <li v-on:click="paginate(page + 1)" v-if="pages > page" >
                                <a style="cursor: pointer">{{ page + 1 }}</a>
                            </li>
                            <li v-if="page < pages - 2">
                                <a>...</a>
                            </li>
                            <li v-on:click="paginate(pages)" v-if="page < pages - 1" ><a>{{ pages }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        created: function() {
            this.products = this.getFilteredProducts();
            this.setParams();
        },
        data: function() {
            return {
                products: {},
                pages: 0,
                price_from: 0,
                price_to: 999999999,
                title: '',
                page: 1,
                page_size: 10,
                total:  0
            }
        },

        methods: {

            setParams: function(event) {
                event.preventDefault();
                this.price_from = 0;
                if ($('input[name=price_from]').val()) {
                    this.price_from = parseInt($('input[name=price_from]').val());
                }
                this.price_to = 999999999;
                if ($('input[name=price_to]').val()) {
                    this.price_to = parseInt($('input[name=price_to]').val());
                }
                console.log($('input[name=title]').val());
                this.title = $('input[name=title]').val();
                this.getFilteredProducts();
            },

            paginate: function(page) {
                this.page = +page;
                this.getFilteredProducts();
            },

            getFilteredProducts: function() {
                var self = this;
                var data = {};
                axios.get('/filter/search', {
                    params: {
                        page: self.page,
                        page_size: self.page_size,
                        price_from: self.price_from,
                        price_to: self.price_to,
                        title: self.title
                    }
                })
                    .then(function(response) {
                        data = response.data;
                        self.products = data.data;
                        self.pages = response.data.last_page;
                    })
                    .catch(function(response) {
                        console.log('error');
                    });
            }
        }
    }
</script>
